.techs__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.04em;
  background: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  margin: 10px;

  justify-content: center;
}
.techs__container {
}

.techs {
  background: #f5f5f5;
  padding: 100px 70px;
}
.techs__list {
  margin-top: 100px;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.techs__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}
.techs__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 984px) {
  .techs {
    padding: 90px 50px;
  }
}
@media screen and (max-width: 610px) {
  .techs {
    background: none;
    padding: 70px 14px;
  }
  .techs__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
    text-align: center;
  }
}
