@import url(./BurgerMenu/BurgerMenu.css);
.header {
  display: flex;
  padding: 0 70px;
  height: 74px;
  background: #dddee3;
  align-items: center;
  justify-content: space-between;
}
.header_style_white {
  background: none;
}
.header__human-logo {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background: #f4f4f4;
  background-image: url(../../images/imagesheader.svg);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
}
.header__link {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__link_style-button {
  display: flex;
  background: #3456f3;
  border-radius: 3px;
  color: #ffffff;
  width: 76px;
  height: 32px;
  margin-left: 14px;
  justify-content: center;
}
.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  align-items: center;
}

.header__nav_space-between {
  justify-content: space-between;
}

@media screen and (max-width: 984px) {
  .header__nav {
    visibility: hidden;
    box-shadow: 2px 12px 10px 10px rgb(0 0 0 / 5%);
    transition: opacity 0.5s ease, visibility 0s ease 0.5s;
    display: flex;
    opacity: 0;
    top: 0;
    right: 0;
    max-width: 520px;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    background: white;
    z-index: 1;
  }
  .navigation__external {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s ease 0.5s;
    z-index: 1;
  }
  .header__nav_active {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease;
  }
  .header {
    padding: 0 30px;
  }
  .header__list {
    padding: 0;
    flex-direction: column;
  }
  .header__link {
    margin: 14px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 610px) {
  .header {
    padding: 0 14px;
  }
}
