.movies-card {
  display: grid;
  grid-template-areas:
      "image image"
      "text like";
  grid-template-columns: 1fr 50px;
  grid-template-rows: 151px 67px;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgb(0 0 0 / 5%);
  border-radius: 10px;
}
.movies-card__image {
  grid-area: image;
height: 100%;
  width: 100%;
  object-fit: cover;
}
.movies-card__container {
  margin: 14px 12px;
  display: flex;
  justify-content: space-between;
}
.movies-card__discription {
  margin: 0px 12px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.movies-card__check {
  grid-area: like;
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.15s;
  border: 2px solid #ffffff;
  background: #2be080;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}
.movies-card__check_disable {
  background: #f4f4f4;
}
.movies-card__check_delete {
  border-radius: 0;
  transition: 0.15s;
  border: none;
  box-shadow: none;
  background: url(../../../images/moviesCardDeleteIcon.svg);
}
.movies-card__paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden; */
}
.movies-card__check_disable:focus {
  background: #2be080;
}
.movies-card__check_disable:hover {
  border: 2px solid #2be080;
}

.movies-card__time {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #a0a0a0;
}
.movies-card__image-container {
  height: 151px;
}
