.preloader {
  height: 166px;
  display: flex;
  justify-content: center;
}
.preloader__button {
  margin-top: 50px;
  width: 320px;
  height: 35px;
  border: none;
  background: #f4f4f4;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.preloader_active_none{
    display: none;
}
.preloader{}